@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');




#img {
    width: 100%;
    height: 100%;
    background-image: url("imagens/header.jpg");
    margin-top: -250px;
    padding-left: 200px;
    padding-right: 100px;
}

h6#t1 {
    color: white;
    font-family: sans-serif;
    margin-top: 280px;
    margin-left: -150px;
    
}

p.a {
    margin-top: 150px;
    color: white;
    font-family: bolder ;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}

p.b{
    margin-top: -20px;
    color: white;
    font-family:;
    text-align: center;
    padding-top: -20px;
    margin-right: 300px;
    margin-left: 300px;
}


h6.t2{
    color: white;
    font-family: sans-serif;
    margin-top: -70px;
    margin-bottom: 200px ;
}

h6.t3{
    color: white;
    font-family: sans-serif;
    margin-top: -70px;
}

h6.t4{
    color: white;
    font-family: sans-serif;
    margin-top: -70px;
}

.bi1 {
    color: white;
    text-align: center;
    width: 100px;
    height: 100px;
    
}

.bi2 {
    color: white;
    text-align: center;
    width: 100px;
    height: 100px; 

}

.bi3 {
    color: white;
    text-align: center;
    width: 100px;
    height: 100px;
   
}

.part1 {
   
    margin-left: 180px;
    margin-top: 50px;
}

.part2 {
    margin-left: 180px;
    margin-top: 50px;

}

.part3 {
    margin-left: 180px;
    margin-top: 50px;

}

p.c {
    font-family: 'Assistant', sans-serif;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 75px;
}

p.d{
    font-family: 'Assistant', sans-serif;
    margin-left: 100px;
    margin-bottom: 100px;
}

p.e{
    font-family: 'Assistant', sans-serif;
}

.image {
    text-align: center;
    margin-top: -50px;
    margin-left: -50px;
}